@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('...../Desafio.010/pacote-projeto-d010/fontes/iDroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --fonte-padrão: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}



body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrão);
}

main > p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px;
    font-size: 1.2em;
    line-height: 2em;
}

div.video {
    padding: 10px;
    background-color: var(--cor5);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding-bottom: 57.6%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90% ;
    height: 90% ;

}

main strong {
    color: var(--cor3);
    font-weight: bold;

}

main a {
    text-decoration: none;
    font-weight: bold;
    background-color: var(--cor2);
    color: var(--cor4);
    padding: 2px 6px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5) );
    min-height: 150px;
    text-align: center;
    
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    padding-top: 30px;
    margin-bottom: 20px;
    font-weight: normal;
    text-shadow: 2px 5px 5px 4px rgba(0, 0, 0, 0.521);
}

header > p {
    color: white;
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    text-shadow:  2px 4px 3px 1px rgba(0, 0, 0, 0.514);
}

nav {
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 2px 4px 3px 1px rgba(0, 0, 0, 0.445);
}

nav > a {
    color: var(--cor1);
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    border-radius: 10px ;
    transition-duration: 0.3s;
    padding-bottom: 10px;

}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    background-color: white;
    padding: 20px;
    box-shadow: 2px 4px 3px 1px rgba(0, 0, 0, 0.384);
    border-radius: 0px 0px 10px 10px;
}

main h1 {
    color: var(--cor5);
    font-family: 'Android', cursive;
}

main h2 {
    font-family: 'Android', cursive;
}

main > img {
    width: 100%;
}

img {
    max-width: 1200px;
    min-width: 300px;
    display: block;
    margin: auto;
}

aside {
    background-color: var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 4px 3px 1px rgba(0, 0, 0, 0.397);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

aside > h3 {
    background-color: var(--cor4);
    color: white;
    padding: 5px;
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.397);
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
   
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > a:hover {
    text-decoration: underline;
    color: var(--cor4);
}