@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    height: 100vh;
    width: 100vw;
}

h1 {
    color: white;
    text-shadow: 3px 3px 0px #1526a7;
    padding: 10px;
}